* {

    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
}

img {

    width: 100%;
    padding: 0;
}

#titulo {

    font-size: 10vh;
    font-family: bely, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
}

.footer_img {

    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.footer_img:hover {

    filter: grayscale(100%);
    transition: 1s;

}

#volver {

    font-size: 2vh;
    font-family: bely, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;

}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

.text {

    font-size: 20px;
    font-family: bely, serif;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
}

.horizontal {

    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.contenedor_img {

    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.columna {

    flex: 33.333333333%;
    padding: 5px;
    margin: 0;
}

.columna img {
    margin-top: 5px;
}



#horizontal1 {

    filter: grayscale(100%);
    transition: 1s;
}

#horizontal1:hover {

    filter: none;
}


#img-8 {
    height: 75%;
    width: auto;
    margin: 0 0 200px 50px;
}


#img-15{
    margin-bottom: 200px;
}

#img-16 {

    margin-bottom: 200px;
}

#img-19 {

    margin-bottom: 45px;
}


#img-1:hover{
    filter: brightness(200%);
    transition: 2s;
}

#img-3:hover{
    filter: saturate(600%);
}

#img-4:hover{
    filter: brightness(150%);
}

#img-5:hover{
    filter: sepia(100%);
}

#img-6:hover{
    filter: grayscale(1);
}

#img-7:hover{
    border-radius: 80%;
    opacity: 50%;
    transition: 1s;
}

#img-8:hover{
    filter: blur(5px);
}

#img-9:hover{
    filter: sepia(100%);
}

#img-11:hover{
filter: invert(1);
transition: 3s;
}

#img-12:hover{
    filter: drop-shadow(4px 4px 4px rgb(255, 234, 112));
}

#img-13:hover{
    filter: contrast(400%);
    border-radius: 50%;
    transition: 2s;
}

#img-14:hover{
    filter: saturate(200%);
}

#img-15:hover{
    opacity: 0;
    transition: 1s;
}

#img-16:hover{
    opacity: 0;
}


#img-17:hover{
    width: 90%;
    transition: 1s;
}

#img-18:hover{
    opacity: 0;
    transition: 1s;
}

#img-19:hover{
    filter: drop-shadow(4px 4px 4px rgb(255, 234, 112));
}

#img-20:hover{
    border-radius: 50%;
    transition: 2s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.5);

}

.light-box{
    position: fixed;
    top:0;
    left:0;
    background: rgba(255, 255, 255, 0.9);

    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100%;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(0);
    
}

.light-box img{
    width:auto;
    height: 50%;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 160px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-family: sans-serif;
    margin: 0;
    opacity: 100%;
    
}

.close:hover{
    background-color: red;
}


.X{
    color: white;
    font-size: 40px;
    margin: 0;
}

.next{
    display: block;
    position: absolute;
    background-color: black ;
    color: white;
    height: 30px;
    width: 30px;
    top: center;
    left: 100px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin: 100px;

}

.next2{
    display: block;
    position: absolute;
    background-color: black ;
    color: white;
    height: 30px;
    width: 30px;
    top: center;
    right: 100px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin: 100px;

}

.next:hover{
    color: wheat;
}

.next2:hover{
    color: wheat;
}










@media (max-width: 1600px) {

    .next{
        bottom: 40px;
        
    }

    .next2{
        bottom: 40px;
    }

    .close{
        right: 10px;
        top: 50px;
    }

    .light-box img{
        
       margin-bottom: 200px;
    }

}




@media (max-width: 1000px) {
    .columna {
        flex: 50%;

    }

    #titulo {
        font-size: 8vh;
    }

    .text {
        font-size: 2vh;
        font-family: bely, serif;
        color: beige;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .light-box img{
        
        margin-bottom: 200px;
    }
}



@media (max-width: 600px) {
    .columna {
        flex: 100%;
    }

    #titulo {
        font-size: 5vh;
    }

    .text {
        font-size: 1.5vh;
        font-family: bely, serif;
        color: beige;
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
}