header {
   margin-top: 100px;
}

body {
    background-color: white; 

}


h2 {
    text-align: center;
    color: black;
    font-family: 'HAPPY DOODLE', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
                                                
}


img {
    
}

section {
align-content: center;
margin: auto;
}

.img1{
    filter:invert(1);
}

.img2{
    filter: opacity(0.5);
}

.img3{
    filter: sepia(50%);
}

.img4{
    filter: blur(10px);
    weight:500px;
    height:500px;
}

.img5{
    filter: hue-rotate(240deg);
}

.img6{
    filter: contrast(2);
}

.img7{
    filter: drop-shadow(16px 16px 20px yellow);
    width: 400px;
    height: 400px;
}

.img8{
    filter:brightness(60%);
}

.img9{
    filter: blur(1px);
}

a:hover img {
    filter:none;
}